/*Bootstrap variables*/
/*
@font-family-sans-serif:  Verdana, Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
@font-size-base: 12px;
*/
/*
@brand-primary: #29c5e6;
@panel-bg: #f3f3f3;
@panel-inner-border: #e7e7e7;
@grid-columns: 12;
@body-bg: #f8f8f8;
@border-radius-base: 0;
@btn-primary-bg: @brand-primary;
@container-md: 960px;
@container-lg: @container-md;
@input-bg: #ffffff;
@input-border: @panel-inner-border;
@input-color: #b2b2b2;
@text-color: #8f8f8f;
@navbar-height: 37px;
@nav-link-padding: 10px 30px;
@navbar-default-bg: @panel-bg;
@navbar-default-link-color: #b2b2b2;
@navbar-default-link-hover-color: @navbar-default-link-color;
@navbar-default-link-active-bg: @brand-primary;
@navbar-default-link-active-color: #fff;
@list-group-bg: @panel-bg;
@list-group-border: @panel-inner-border;
@panel-primary-border: @panel-inner-border;
@jumbotron-bg: @brand-primary;
@jumbotron-color: #fff;
@thumbnail-padding: 1px;
@thumbnail-border: #c9c9c9;
*/
.form-control::-webkit-input-placeholder {
  color: #b9b9b9;
}
.form-control::-moz-placeholder {
  color: #b9b9b9;
}
