{% extends "views/layouts/content.twig" %}

{% block content %}
    <ul class="nav nav-tabs nav-tabs-employee">
        <li role="presentation" class="active"><a href="#">Заявки {{ translateGroup }}</a></li>
    </ul>
    <div class="form-tabs">
        {% for CurrentEmployee in Employee %}
            {% if this.getRequestsCountByEmployee(CurrentEmployee.id) %}
                <div style="margin-bottom: 30px;">
                    <div class="form-tabs-title">
                        {{ CurrentEmployee.username }} ({{ CurrentEmployee.EmployeeGroup.name }})
                    </div>

                    {{ this.getRequestsByEmployee(CurrentEmployee.id)|raw }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}