<div class="col-md-12">
    <div style="margin-top: 20px;">
        <div class="col-md-5 col-md-offset-5">

            <h2>404</h2>
            <p>Страница не найдена</p>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg">
                    <span class="fa fa-arrow-left"></span>
                    Перейти к сайту
                </a>
            </div>
        </div>
    </div>
</div>