<ul class="nav nav-pills nav-stacked">
    {% for index, CurrentEmployeeGroup in EmployeeGroups %}
        <li {% if CurrentEmployeeGroup.id == currentId %}class="active"{% endif %}>
            <a href="/message/list?id={{ CurrentEmployeeGroup.id }}">
                {{ CurrentEmployeeGroup.name }}  {% if CurrentEmployeeGroup.getNewMessages(this.Employee.id) %}<span class="label label-success">{{ CurrentEmployeeGroup.getNewMessages(this.Employee.id) }}</span>{% endif %}
            </a>
        </li>
    {% endfor %}
</ul>