{% extends "views/layouts/content.twig" %}

{% block leftmenu %}
    {% include "views/message/left.twig" %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs nav-tabs-employee">
        <li role="presentation"><a href="/message/inbox?id={{ currentId }}">Входящие</a></li>
        <li role="presentation"><a href="/message/outbox?id={{ currentId }}">Исходящие</a></li>
        <li role="presentation" class="active"><a href="#">Переписка с {{ Message.author }}</a></li>
    </ul>

    {% include "views/message/answer.twig" %}

    <div class="form-tabs">
        {{ grid|raw }}
    </div>
{% endblock %}