<div id="header">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if App.user.role == "admin" %}
                        <li {% if this.part == "employee" %}class="active"{% endif %}>
                            <a href="/employeeGroup">
                                Отделы и сотрудники
                            </a>
                        </li>
                        <li {% if this.part == "drafts" %}class="active"{% endif %}>
                            <a href="/admin/drafts">
                                Заявки
                            </a>
                        </li>
                        <li {% if this.part == "archive" %}class="active"{% endif %}>
                            <a href="/archive/list">
                                Архив
                            </a>
                        </li>
                        <li {% if this.part == "refused" %}class="active"{% endif %}>
                            <a href="/refused/list">
                                Архив 2
                            </a>
                        </li>
                        <li {% if this.part == "report" %}class="active"{% endif %}>
                            <a href="/report/dates">
                                Отчёты
                            </a>
                        </li>
                    {% else %}
                        <li {% if this.part == "request" %}class="active"{% endif %}>
                            <a href="/request">
                                Заявки
                            </a>
                        </li>
                        <li {% if this.part == "archive" %}class="active"{% endif %}>
                            <a href="/archive/list">
                                Архив
                            </a>
                        </li>
                        <li {% if this.part == "refused" %}class="active"{% endif %}>
                            <a href="/refused/list">
                                Архив 2
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if App.user.getState('isMaskedUser') %}
                            <a href="/home/unLogin">
                                <span class="label label-danger">
                                    Стать админом
                                </span>
                            </a>
                        {% endif %}
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                            <div class="header-text">
                                {{ App.user.username }}
                                <span class="caret"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/logout">
                                    <i class="fa fa-sign-out"></i> Выход
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content" class="container-fluid">
    <div id="center-content">
        <div id="submenu">
            {% block leftmenu %}{% endblock %}
        </div>
        <div id="center-content-right">
            <div class="col-md-12" id="flash-errors">
                {% for currentFlashKey,currentFlashMessage in App.user.getFlashes() %}
                    {% if currentFlashKey == "success" %}
                        <div class="alert alert-success">
                            {{ currentFlashMessage|raw }}
                        </div>
                    {% endif %}
                    {% if currentFlashKey == "error" %}
                        <div class="alert alert-danger">
                            {{ currentFlashMessage|raw }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {% block content %}{% endblock %}
        </div>

    </div>
</div>
