<div class="row">
    <div class="col-md-12">
        <div class="items">
            <div class="form-tabs-title">
                Редактировать прайс
            </div>

            {{ this.renderPartial('/requestDetails/_gridPrices', {'DataProvider': Request.getPrices()}, true)|raw }}
            <br/>

            <div class="advancedDetailBlock">
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-addCompanyAdvancedDetail" title="Добавить автомобиль">+</button>
                </div>
            </div>
        </div>
    </div>

    {% if Request.getRequestType() == "company" %}
        <div class="col-md-12">
            <div class="items">
                <div class="form-tabs-title">
                    Добавить машину
                </div>

                {{ this.renderPartial('/requestDetails/_gridCars', {'DataProvider': Request.getCompanyCars()}, true)|raw }}
                <br/>

                <div class="advancedDetailBlock">
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-addCompanyListAuto" title="Добавить автомобиль">+</button>
                    <span class="browse-button">
                        <input class="btn btn-primary" type="button" value="Загрузить из excel файла" />
                        <input type="file" data-id="{{ Request.id }}" id="btn-addCompanyListAuto-FromFile" />
                    </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
