{% extends "views/request/tabs.twig" %}

{% block form %}
    <div class="row">
        <div class="col-md-12">
            <div class="items">
                <div class="form-tabs-title">
                    Редактировать прайс
                </div>

                {{ this.renderPartial('/requestDetails/_gridPrices', {'DataProvider': Request.getPrices()}, true)|raw }}

                {{ this.renderPartial('/requestDetails/_formPrice', {'Request': Request})|raw }}
            </div>
        </div>
    </div>

    {% if Request.getRequestType() == "company" %}
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="items">
                    <div class="form-tabs-title">
                        Добавить машину
                    </div>

                    {{ this.renderPartial('/requestDetails/_formCar', {'Request': Request})|raw }}
                    {{ this.renderPartial('/requestDetails/_gridCars', {'DataProvider': Request.getCompanyCars()}, true)|raw }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}