{% extends "views/layouts/content.twig" %}

{% block leftmenu %}
    {% include "views/act/left.twig" %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs nav-tabs-employee">
        <li role="presentation" class="active">
            <a href="#">Акты {{ translateGroup }}</a>
        </li>
    </ul>

    <div class="form-tabs">
        {{ grid|raw }}
    </div>

{% endblock %}