<ul class="nav nav-pills nav-stacked">
    <li>
        <a href="{{ '/employeeGroup' }}">
           Отделы
        </a>
    </li>
    <li>
        <a href="{{ '/employee' }}">
            Сотрудники
        </a>
    </li>
</ul>