<div class="form-group multiple-form-group row">
    <div class="col-md-5">
        <div class="form-group">
            <label>ФИО</label>

            <div class="">
                <input type="text" class="form-control input-one"
                       name="RequestCompanyDriver[fio][]" value="{% if Driver is defined %}{{ Driver.fio }}{% endif %}"/>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Телефон</label>

            <div class="">
                <input type="text" class="form-control input-one"
                       name="RequestCompanyDriver[phone][]" value="{% if Driver is defined %}{{ Driver.phone }}{% endif %}"/>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <label>Удалить</label>
        <div class="">
            <button type="button" class="btn btn-primary btn-removeAdvancedDetail">-</button>
        </div>
    </div>
</div>
