<div class="form-group multiple-form-group row example">
    <div class="col-md-5">
        <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control input-one" name="RequestServiceServeOrganisation[name][]" value="{{ Organisation.name }}" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Телефон</label>
            <input type="text" class="form-control input-one" name="RequestServiceServeOrganisation[phone][]" value="{{ Organisation.phone }}" />
        </div>
    </div>
    <div class="col-md-1">
        <label>Удалить</label>
        <div class="">
            <button type="button" class="btn btn-primary btn-removeAdvancedDetail">-</button>
        </div>
    </div>
</div>