<tr class="example">
    <td>
        <input type="text" class="form-control input-one" name="RequestTiresServeOrganisation[name][]" value="{{ Organisation.name }}" />
    </td>
    <td>
        <input type="text" class="form-control input-one" name="RequestTiresServeOrganisation[phone][]" value="{{ Organisation.phone }}" />
    </td>
    <td>
        <button type="button" class="btn btn-primary btn-removeAdvancedDetail">-</button>
    </td>
</tr>