<div class="form-group multiple-form-group row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Вид ТС</label>

            <div class="">
                <div class="input-group">
                    <input class="form-control" type="text" name="RequestWashService[type][]"
                           value="{% if Auto is defined %}{{ Auto.type }}{% endif %}"/>
                    <span class="input-group-btn">
                        <button
                                class="btn btn-default form-control btn-ts-modal btn-edit" data-toggle="modal"
                                data-target="#ts_modal"><span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-md-6">
                <label>Снаружи</label>
                <input type="text" class="form-control input-one" placeholder="Снаружи"
                       name="RequestWashService[price_outside][]" value="{% if Auto is defined %}{{ Auto.price_outside }}{% endif %}"/>
            </div>
            <div class="col-md-6">
                <label>Внутри</label>
                <input type="text" class="form-control input-one" placeholder="Внутри"
                       name="RequestWashService[price_inside][]" value="{% if Auto is defined %}{{ Auto.price_inside }}{% endif %}"/>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <label>Удалить</label>
        <div class="">
            <button type="button" class="btn btn-primary btn-removeAdvancedDetail">-</button>
        </div>
    </div>
</div>
